$cta-bg =  #4ca4b5

$primary = #bad1d699
$primary-light = rgba(76,164,181,0.169)

$grey-dark = rgba(186,209,214,0.18)


// ------ TOP NAV
$top-bg = #343a40
$top-link-bg = $grey-dark
$top-link-color = #fff



// ------ ASIDE NAV
$aside-bg = rgba(238,238,238,0.49)
$active-link-bg = $primary
$active-link-border = #333